<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SuperAwesomeWebsite</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/css/layout.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/jquery.sldr.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
  <% if @user || @parent %>
    <nav class="tabobjects">
      <ul class="navlist">
        <li class="objects"><a href="/activities/simple"><button class="btn-white">Activities</button></a></li>
        <% if @user %><li class="objects"><a href="/new_activity"><button class="btn-white">New Activity</button></a></li>
        <% elsif @parent %>
          <li class="objects">
            <div class="dropdown-objects">
            <button class="btn-drop">New Activity</button>
            <div class="dropdown-content">
              <% if @parent.users != []%>
                <% for child in @parent.users %>
                  <a href="/new_activity/<%= child.id %>"><%= child.username %></a>
                <% end %>
              <% else %>
                <a href="/management">No Children</a>
              <% end %>
            </div>
            </div
          </li>
        <% end %>
        <li class="objects"><a href="/management"><button class="btn-white"><%= if @user then "Parents" else "Children" end%></button></button></a></li>
        <li class="objects"><a href="/profile"><button class="btn-white">My Profile</button></a></li>
        <li class="objects"><form action="/log_out" method="post"><button type="submit" class="btn-gray">Log Out</button></form></li>
      </ul>
    </nav>
    <% if @event %>
      <div class="event_form">
        <form action="/activities/simple" method="get">
          <input class="btn-black" type="submit" value="Simple Form">
        </form>
        <form action="/activities/calendar" method="get">
          <input class="btn-black" type="submit" value="Calendar Form">
        </form>
      </div>
      <div class="event_date"><%= Time.now.strftime('%a %d %b - %H:%M') %></div>
    <% end%>
  <% else %>
    <nav class="tabobjects">
      <div class="tab">
        <form action="/login" method="get" class="user_btn"><button class="btn-green" type="submit">Log In</button></form>
        <form action="/sign_up" method="get" class="user_btn"><button class="btn-green" type="submit">Sign Up</button></form>
      </div>
    </nav>
  <% end %>
<%= yield %>
</body>
</html>