<div class="form_box">
  <% if @parent %> <h1 style="text-align:center;margin-left:0;" class="headline"><%= @child %></h1> <% end %>
  <form id="create_activity" action="/create_activity" method="post">
    <div class="form_row">
      <label class="activity_labels">Type: </label><br>
      <select name="type">
        <option value="Homework" selected>Homework</option>
        <option value="Event">Other</option>
      </select></div>
    <p class="form_row_required">
      <label class="activity_labels">Title: </label><br>
      <input type="text" name="title"></p>
    <p class="form_row">
      <label class="activity_labels">Subject: </label><br>
      <select name="subject">
        <option value="nil" selected>None</option>
        <% for subject in @subjects %>
            <option value="<%= subject.name%>"><%= subject.name%></option>
        <% end %>
      </select></p>
    <p class="form_row_required">
      <label class="activity_labels">Due Date: </label><br>
      <input type="date" name="due_date" placeholder="yyyy-mm-dd">
    </p>
    <p class="form_row_required">
      <label class="activity_labels">Due Time: </label><br>
      <input type="time" name="time" placeholder="hh:mm">
    </p>
    <p class="form_row">
      <label for="planning" class="activity_labels">Planning: </label><br>
      <select name="planning">
        <option value="nil" selected>None</option>
        <% for plan in @plans %>
          <option value="<%= plan.name%>"><%= plan.name%></option>
         <% end %>
      </select>
    </p>
    <p class="form_row">
      <label class="activity_labels">Length of Activity: </label><br>
      <input type="text" name="length" placeholder="Minutes">
    </p>
    <% if @user %>
    <p class="form_row">
      <label class="activity_labels">Hidden Activity: </label>
      <input type="checkbox" name="hidden_activity" value="hidden"></p>
    <% end %>
    <p class="form_row">
      <button class="btn-black" type="submit" <% if @parent %> name="child" value="<%= @child %>" <% end %>> Create Activity</button>
    </p>
  </form>
</div>