<div id="manage_parents">
  <div class="manage_stuff_1">
    <h1 class="headline">Add <%= if @user then "Parent" else "Child" end%></h1>
    <form action="/<%= if @user then "parent" else "child" end%>_validation" method="post">
      <div class="management_form">
        <p class="form_row"><label class="management_labels">Username: </label>
        <input type="text" name="name" placeholder="Username">
        <button class="btn-black" type="submit">Find</button></div></p>
    </form>
    <% if @search != nil %>
      <div class="form_row"><br><h3><%= @search.username %></h3>
      <p><%= @search.details %></p>
      <form action="/<%= if @user then "user" else "parent" end%>_request/" method="post">
        <div class="management_form">
          <input class="btn-black" style="width:11em;" type="submit" name="request" value="Request Supervision"></div>
      </form>
      </div>
    <% end %>
  </div>
  <div class="manage_stuff_2">
    <h1 class="headline">Requests</h1>
    <% if @requesters != [] %>
        <% for request in @requesters%>
            <div class="form_row">
              <h3><%= request.username %></h3>
              <p><%= request.details %></p>
              <form action="/confirmation/<%= request.id %>/" method="post">
                <div class="management_form">
                  <input class="btn-black" type="submit" name="option" value="Accept">
                  <input class="btn-black" type="submit" name="option" value="Decline"></div>
              </form>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="manage_stuff_3">
    <h1 class="headline">Current <%= if @user then "Parents" else "Children" end%></h1>
    <% for person in @relative%>
      <div class="form_row">
        <%= person.username %>
        <form action="/remove_relative/<%= person.id %>/" method="post">
          <input class="btn-black" type="submit" value="Remove">
        </form>
      </div><br>
    <% end %>
  </div>
</div>