<div id="manage_profile">
  <div class="manage_stuff_1"><h1 class="headline">Manage Subjects</h1>
    <form action="/new_subject" method="post">
      <p class="form_row"><label class="subject_labels">Subject Name: </label><br><input type="text" name="subject"></p>
      <% if @parent %>
      <p class="form_row"><label class="subject_labels">Child: </label>
      <select name="child">
        <% for child in @children %>
            <option value="<%= child.username%>"><%= child.username%></option>
        <% end %>
      </select></p>
      <% end %>
      <p class="form_row"><input class="btn-black" type="submit" value="Create Subject"></p>
    </form><br>
    <% if @user %>
      <form action="/delete_subject" method="post">
      <h3 class="subline">Delete Subject</h3>
        <div class="form_row"><select name="subject">
          <% for subject in @subjects %>
            <option value="<%= subject.name%>"><%= subject.name%></option>
          <% end %>
        </select>
        <input class="btn-black" type="submit" value="Remove">
        </div>
    </form>
    <% end %>
  </div>
  <div class="manage_stuff_2"><h1 class="headline">My profile</h1>
    <p class="form_row" style="margin-bottom: -20px;"><% if @user %><%= @user.username%>
          <% elsif @parent%><%= @parent.username %><% end %></p>
    <form action="/update_details" method="post">
      <p class="form_row"><textarea name="details"><% if @user %><%= @user.details%>
            <% elsif @parent%><%= @parent.details %><% end %></textarea></p>
      <p class="form_row"><input class="btn-black" type="submit" value="Update"></p>
    </form>
    <% if @user %>
      <form action="/update_bed_time" method="post">
        <p class="form_row"><label>Bed Time: </label><br>
        <input type="text" name="time" value="<%= @user.bed_time.strftime("%H:%M")%>"></p>
        <p class="form_row"><button class="btn-black" type="submit">Update</button></p>
      </form>
    <% end %>
  </div>
  <div class="manage_stuff_3"><br><h1 class="headline">Manage Planning Schedules</h1>
    <form action="/new_plan" method="post">
      <p class="form_row_required"><label class="plan_labels">Title: </label><br><input type="text" name="title"></p>
      <p class="form_row_required"><label class="plan_labels">Interval Length (minutes): </label><br><input type="number" min="0" name="length"></p>
      <p class="form_row"><label class="plan_labels">Preferred Interval Amount: </label><br><input type="number" min="0" name="amount"></p>
      <p class="form_row"><label class="plan_labels">Weekends: </label><br><br>
        <label class="select_label" for="choice1">Preferred<br>
          <input id="choice1" type="radio" name="weekend" value="2">
        </label>
        <label class="select_label" for="choice2">Allowed<br>
          <input id="choice2" type="radio" name="weekend" value="1">
        </label>
        <label class="select_label" for="choice3">None<br>
          <input id="choice3" type="radio" name="weekend" value="0">
        </label>
      </p>
      <p class="form_row">
      <% if @parent %>
        <div id="dropdown_child">
        <p class="form_row"><label class="plan_labels">Child: </label>
          <select name="child">
            <% for child in @children %>
                <option value="<%= child.username%>"><%= child.username%></option>
            <% end %>
          </select>
        </p></div>
      <% end %>
      <p class="form_row"><input class="btn-black" type="submit" value="Create Plan"></p>
    </form>
    <% if @user %>
    <form action="/delete_plan" method="post">
      <br><h3 class="subline">Delete Plan</h3>
      <p class="form_row"><select name="plan">
        <option value="nil" selected>None</option>
        <% for plan in @plans %>
            <option value="<%= plan.name%>"><%= plan.name%></option>
        <% end %>
      </select>
      <input class="btn-black" type="submit" value="Remove"></p>
    </form>
    <% end %>
  </div>
</div>